*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: rgb(255, 235, 255);
}
/* body{
  background: linear-gradient(245.59deg, #ab90ad 75.52%,#6b3b7d 28.53%, rgba(101, 48, 116, 0.333));
} */
.navbar{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 9%;
}
header.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: linear-gradient(245.59deg, rgba(120, 65, 135, 0.333) 0%,#5c2e6e 28.53%, #220f23 75.52%) !important; 
}
.container .navbar-brand{
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 5px;
}
.container .navbar-toggler{
  background-color: white;
}
.collapse   {
  display: flex;
  padding-right:60px;
}
.collapse .navbar-nav .nav-item a{
  color: white;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.collapse .navbar-nav .nav-item a:hover{
  border-bottom: 2px solid;
  color: rgb(41, 25, 57);
  text-shadow:5px 5px 8px rgb(226, 71, 237);
}

/* --------------Accueil le nom-prenom-------------- */
.Accueil {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, rgba(120, 65, 135, 0.333) 0%,#5c2e6e 28.53%, #220f23 75.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
}
section{
  padding: 0 10%;
  
}
.Accueil-text{
  margin-top: 30px;
}
.nom{
  text-shadow: 2px 10px 5px  rgb(214, 98, 231);
}
.Accueil-text h1{
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}
.Accueil-text h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  line-height: 1;
  color: white;
  margin: 0 0 1px;
}
.Accueil-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 49px;
}
.Accueil-img{
  margin-left: 150px;
  margin-top: 50px;
}
.Accueil-img img {
  width: 100%; 
  max-width: 400px; 
  height: auto; /* Garantit que la hauteur est ajustée à la largeur */
  border-radius: 50%;
  box-shadow: 10px 15px 20px 40px rgb(214, 98, 231) ; 
}
.Accueil-text a.a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(226, 71, 237);
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0 10px 0px 0;
}
.Accueil-text a.a:hover{
  background: rgb(226, 71, 237);
  color: #220f23;
  box-shadow: 0 0 20px 10px rgb(214, 98, 231) ;
}

.Accueil-text a.btn-box{
  display: inline-block;
  color: white;
  background: #d934d7;
  border: 1px solid transparent;
  text-decoration: none;  /*pour ligne de a*/
  border-radius: 25px;
  padding: 12px 30px;
  margin-top: 40px;
  margin-left: 12px;
  line-height: 1.4;
  font-size: 14px;
  transition: all .55s ease;
  box-shadow: 0 0 30px 5px rgb(214, 98, 231);
}
.Accueil-text a.btn-box:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
  box-shadow: 0 0 30px 20px rgb(214, 98, 231);
}
.Accueil-text a#tele-cv{
  background: transparent;
  border: 1px solid rgb(214, 98, 231);
  margin-left: 20px;
}

/* ---------------deuxième Accueil--------------- */
.propos{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  align-items: center;
  gap: 1.5rem;
  height: 100vh;  /*prend tout la page chaque page katban toute seul*/
}
.propos-img img {
  width: 100%;
  height: auto;
  max-width: 480px;
  border-radius: 500px 50px;
  box-shadow: 10px 15px 20px 40px rgb(214, 98, 231) ; 
}
.propos-text{
  margin-top: 100px;
}
.propos-text h2{
  font-size: 60px;
  padding-top: 15px;
}
.propos-text h2 span{
  color: #e247ed;
  text-shadow: 0 0 10px #e247ed;
}
.propos-text h4{
  font-size: 29px;
  font-weight: 600;
  color: #e247ed ;
  line-height: 1.8;
  margin: 15px 0 30px;
}
.propos-text p {
  /* color: black; */
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.propos-text a.btn-box{
  display: inline-block;
  color: black;
  background: #d934d7;
  border: 1px solid transparent;
  text-decoration: none;  /*pour ligne de a*/
  border-radius: 25px;
  padding: 12px 30px;
  margin-top: 10px;
  margin-left: 12px;
  line-height: 1.4;
  font-size: 14px;
  transition: all .55s ease;
  box-shadow: 0 0 30px 5px rgb(214, 98, 231);
}
.propos-text a.btn-box:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
  box-shadow: 0 0 30px 20px rgb(214, 98, 231);
}
/*--------------------work et Education-------------------- */
.forexpr-titre{
  padding-top: 100px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0 0 10px #e247ed;
}
.education-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.education,
.experiences {
  /* background: linear-gradient(245.59deg, rgba(120, 65, 135, 0.333) 0%,#5c2e6e 28.53%, #220f23 75.52%); */
  background:rgb(94, 42, 102); 
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.sous-educ {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.education-experience .sous-educ .imageicon {
  text-align: right;
}

.education-experience .sous-educ .imageicon img {
  max-width: 80px; 
  height: auto;
}
.date {
  text-align: center;
  font-weight: 200;
  color: #b6b3b3;
  text-shadow: 0 0 20px #fdeffe;
}
.effet{
  color: white;
}
.effet1{
  font-weight: 200;
  color: #b6b3b3;
}
/* --------------------commpetences-------------------- */
.sub-title{
  text-align: center;
  font-size: 60px;
  padding-top: 150px;
}
#sub-titre{
  color: #e247ed;
  text-shadow: 0 0 10px #e247ed;
}
.competences-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 140px;
  margin-bottom: 40px;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 30px ;
}
.comp-image {
  flex-shrink: 0;
  margin-right: 20px;
  padding-top: 90px;
}
.comp-image img {
  width: 500px;
  max-width: 450px;
  height: auto;
  border-radius: 50px 500px;
  box-shadow: 10px 15px 20px 40px rgb(214, 98, 231);
}
.heading1{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}
.bar{
  font-size: 20px;
}

.Technical-bars .bar {
  margin-top: 5px;
  width: 470px;
}

.Technical-bars .bar .progress-bar {
  border-radius: 8px;
}
.progress .progress-bar {
  background-color: #e247ed !important;
}
/* --------------Accueil le nom-prenom-------------- */
.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.main-text {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
}
.main-text h2 span{
  color:#e247ed;
  text-shadow:5px 5px 8px rgb(226, 71, 237);
}
.portfolio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 70px;
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
}
.row img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #e247ed);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5{
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p {
  color: white;
  font-size: 1rem;
  line-height: 1.8;
}
.layer i{
  color:#e247ed;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}
/* --------------contact-------------- */
.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 90px ;
  margin-bottom: 70px;
  justify-content: center; 
  text-align: center;
  margin-left: 80px;
}
.contact-text h2 {
  font-size: 65px;
  line-height: 1;
}
.contact-text h2 span{
  color: #e247ed;
  text-shadow:5px 5px 8px rgb(226, 71, 237);
}
.contact-text h4{
  margin: 15px 0;
  color: rgb(103, 22, 107);
  font-size: 20px;
  font-weight: 600;
  text-shadow:5px 5px 8px rgb(226, 71, 237);
}
.contact-text p {
  color: rgb(117,117,117);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: #e247ed;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #e247ed;
}
.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #e247ed;
  border-radius: 50%;
  font-size: 20px;
  color: #e247ed;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 1;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
  background: #e247ed;
  color: #000;
  box-shadow: 0 0 20px #e247ed;
}
.contact-form form{
  position: relative;
}
.contact-form form input, form textarea{
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #f8eaf9;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.contact textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #e247ed;
  border-radius: 40px;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1; 
  transition: opacity 0.5s ease;
  box-shadow: 0 0 5px #e247ed;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px #e247ed, 0 0 25px #e247ed, 0 0 50px #e247ed, 0 0 100px #e247ed, 0 0 200px #e247ed;
}
/* derniere chose */
.last-text  {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: linear-gradient(245.59deg, rgba(120, 65, 135, 0.333) 0%,#5c2e6e 28.53%, #220f23 75.52%);;
  font-weight: 300;
  margin-top: 0;
  color: #e247ed;
}
.top{
  position:fixed;
  bottom: 2rem;
  right: 2.1rem;
}
.top i {
  color: white;
  background: #e247ed;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}






@media (max-width :1535px){
  header{
    padding: 15px 3%;
    transition: .2s;
} 
}
@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
}
}
@media (max-width : 1340px){
  .Accueil-img{
      width: 100%;
      height: 620px;
  }
  .Accueil-text h1{
      font-size: 60px;
      margin: 0 0 30px;
  }
  .Accueil-text h2{
      margin-bottom: 25px;
  }
}
@media (max-width : 1195px){
  section{
      padding: 0 3%;
      transition: .2s;
  }
  .Accueil-text{
      padding-top: 115px;
  }
  .Accueil-img{
      text-align: center;
  }
  .Accueil-img img{
      width: 560px;
      height: auto;
  }
  .Accueil{
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
  }
}
@media (max-width: 1195px) {
  .Accueil {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .Accueil-img {
      margin-left: 0;
      margin-top: 30px;
  }
}
@media (max-width: 680px){
  .Accueil-img img{
      width: 100%;
      height: auto;
  }
}
/* media de section propos de moi */
@media (max-width:1195px){
  .propos{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .propos-img {
    margin: 0 auto;
    padding-top: 50px;
  }
  .propos-text{
    margin-top: 30px;
    text-align: center;
  }
}
/* section experience formation */
@media (max-width:1195px){
  .titre-section{
    padding-top: 200px
  }
}
@media (max-width:1195px){
  .education-experience{
    padding-top: 50px
  }
}
/* competence */
@media (max-width: 1495px) {
  .competences-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container1 {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: auto; 
    text-align: center; 
    margin-top: 20px; 
  }
  .comp-image {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .Technical-bars .bar {
    width: 100%; 
  }
}
/* contact */
@media only screen and (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr; 
    text-align: left; 
    padding: 30px; 
  }
  
  .contact-form {
    margin-top: 30px; 
  }
}








